streamlit
langchain
langchain-classic
langchain-community
langchain-core
langchain-google-genai
langchain-huggingface
langchain-pinecone
langchain-text-splitters
pinecone
sentence-transformers
pypdf
python-dotenv
